@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.dark-mode {
    filter: invert(1) hue-rotate(180deg)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #f3f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    background: aqua;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a {
    color: black;
    text-shadow: 0 0 1px white;
    font-size: larger;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #f3f5f9;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

img {
    width: 500px;
    height: 500px;
    margin: 1rem;
    display: flexbox;
    border-radius: 50%;
}


button {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}



.buttons, .images {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px 50px 50px;
    margin: 1rem;
}

.btn {
    background-color: var(--background-color);
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    display: flex;

    --background-color: #e3e3e3;
    --border-size: 2px;
    --accent-color: #0AF;
}


/* button pop */
.btn.btn-border-pop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}

/* background slide button */
.btn.btn-background-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn.btn-background-slide:hover::before,
.btn.btn.btn-background-slide:focus::before {
    transform: scaleX(1);
}

.btn.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

.btn.btn-background-slide:hover,
.btn.btn-background-slide:focus {
    color: white;
}


/* circle button */
.btn.btn-background-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: transform 500ms ease-in-out;

    transform: scale(1.5);
}

.btn.btn-background-circle:hover::before,
.btn.btn-background-circle:focus::before {
    transform: scale(0);
}

.btn.btn-background-circle {
    z-index: 1;
    overflow: hidden;
    background-color: var(--accent-color);
}

.btn.btn-background-circle:hover,
.btn.btn-background-circle:focus {
    color: white;
}


/* underline button */
.btn.btn-border-underline::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;

    transform: scaleX(0);
}

.btn.btn-border-underline:hover::before,
.btn.btn-border-underline:focus::before {
    transform: scaleX(1);
}


/* shiny button */
.btn.btn-shine {
    position: relative;
    padding: 10px 15px;
    margin: 15px;
    background: var(--background-color);
    /* color: #fff; */
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid var(--background-color);
    transition: 0.5s;
    overflow: hidden;
}

.btn.btn-shine:hover {
    background: var(--accent-color);
    color: white;
}

.btn.btn-shine:nth-child(2):hover {
    background: white;
}

.btn.btn-shine::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.5s;
}

.btn.btn-shine:hover::before {
    left: 100%;
}


/* glow gradient button */
.btn.btn-glow-gradient-border {
    text-align: center;
    position: relative;
    width: 160px;
    text-decoration: none;

    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.btn.btn-glow-gradient-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00,#fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    animation: animate 20s linear infinite;
}

.btn.btn-glow-gradient-border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00,#fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
    animation: animate 20s linear infinite;
}

.btn.btn-glow-gradient-border:hover::before,
.btn.btn-glow-gradient-border:hover::after {
    opacity: 1;
}

@keyframes animate {
    0% {
        backgroung-position: 0 0;
    }
    50% {
        backgroung-position: 300% 0;
    }
    100% {
        backgroung-position: 0 0;
    }
}

.btn.btn-glow-gradient-border span {
    position: absolute;
    display: block;
    text-align: center;
    transition: 0.5s;
    z-index: 1;;
}

.btn.btn-glow-gradient-border:hover span {
    color: black;
}

.btn.btn-glow-gradient-border span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}



.code {
    display: flex;
    justify-content: center;
}


/* images CSS */

:root {
    --base: #ffffff;
    --spacing: 10px;
    --blur: 2px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
    color: var(--base);
}
  

.images {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.images > * {
    display: block;
    animation: slide 12s infinite;
    overflow: hidden;
}

.saved {
    display: flex;
    justify-content: center;
}

.block-saved {
    position: relative;
    bottom: 50px;
}

.save-button:hover {
    cursor: pointer;
    background-color: #0f0;
}